{% extends "base.html.twig" %}

{% block title %}Game landing page{% endblock %}

{% block body %}
    <main class="game-main">
        <h1 class="page-title-special">Vi är igång!</h1>
        <div class="card-game">
            {% if bank_wins %}
                <h1 class="bank-won">Banken vann!</h1>
                <form class="game-form" method="get" action="/game/play">
                    <h2 style="text-align: center; color: green;">Du förlorade!</h2>
                    <input class="game-buttons-new-round" type="submit" name="do_it" value="Ny omgång">
                </form>
            {% endif %}
            {% if player_wins %}
                <h1 class="player-won">Du vann!</h1>
                <form class="game-form" method="get" action="/game/play">
                    <h2 style="text-align: center; color:red;">Banken förlorade!</h2>
                    <input class="game-buttons-new-round" type="submit" name="do_it" value="Ny omgång">
                </form>
            {% endif %}
            <div class="card-grid-game-bank">
                {% for card in bank_hand_array %}
    
                    {% if ('♥' in card)%}
                        <p class="red-card" >{{ card }}</p>
                    {% elseif ('♦' in card)%}
                        <p class="red-card" >{{ card }}</p>
                    {% else %}
                        <p class="card">{{ card }}</p>
                    {% endif %}
                    
                {% endfor %}

            </div>
             <h3 class="card-grid-game-bank-h3 "> Bankens totala poäng: {{current_total_points_bank}}</h3>  

            <div class="card-grid-game-player">
                {% for card in player_hand_array %}
    
                    {% if ('♥' in card)%}
                        <p class="red-card" >{{ card }}</p>
                    {% elseif ('♦' in card)%}
                        <p class="red-card" >{{ card }}</p>
                    {% else %}
                        <p class="card">{{ card }}</p>
                    {% endif %}
                    
                {% endfor %}
                
            </div>
            <h3 class="card-grid-game-player-h3 "> {{current_player}} totala poäng: {{current_total_points}}</h3> 
               
        
            
        </div>
    </main>
{% endblock %}